/* general page */
body{
    background-color: #eff7f6;
    /* background-color: red; */
}

/* nav bar */
.nav-link{
    color: rebeccapurple;
}

.nav-link:hover{
    color: red;
}

.navbar-toggler-icon{
    background-color: rebeccapurple;
}
