body{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#greet{
    display: flex;
    justify-content: center;
}

h4{
    color: rgb(194, 73, 194);
}

button{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: bolder;
    font-size: small;
}
.intro h1 {
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid rgb(194, 73, 194);
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(194, 73, 194) }
}

#aboutList{
    list-style: none;
    justify-content: center;
    text-align: center;
}

#skillsList{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.skillsSubList{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#technical{
    text-align: center;
    flex-direction: row;
}

#design{
    text-align: center;
    flex-direction: row;
}

.techItem{
    display: flex;
    justify-content:center;
    gap: 200px;
    /* justify-items: center; */
    text-align: center;
    padding-bottom: 5vh;
}

.techName{
    width: 15vw;
    font-weight: bolder;
}

.techDescription{
    width: 50vw;
}

#design{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

.designItem{
    /* display: flex; */
    justify-content: center;
    padding-bottom: 5vh;
}

.rowList{
    text-align: center;
}

.rowListItem{
    color: rgb(194, 73, 194);
    text-decoration: none;
    margin-right: 20px;
    
}

.rowListItem:hover{
    font-weight: bolder;
}

#email{
    text-decoration: none;
    color: rgb(194, 73, 194);
}

/* #image1{
    display: none;
}

#image2{
    display: none;
}

#image3{
    display: none;
} */

img {
    max-width: 100%;
    height: auto;
    width: auto;
}