
@keyframes MoveUpDown {
    50%{transform: translateY(20px);}
    50%{transform: translateY(-25px);}
    50%{transform: translateY(5px);}
}

@keyframes slide {
    50%{transform: translateX(-300px);}
}

body{
    background-color: #EAE3E3;
}

#Intro #first-txt{
    margin: auto;
    width: 50%;
    font-size: 45px;
    left:40%;
    margin-top: auto;
    top: 12%;
    position: absolute;
    text-align:center;

    animation-name: MoveUpDown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

.octogreet{

    position:absolute;
    right:55%;
    width: 400px;
    padding: 10px;
    top: 5%;
}

.RPS{
    right:55%;
    width: 400px;
    padding: 10px;
}

.bookslide{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    left:50px;
    width:400px;
    flex-shrink: 0;
    height:100%;
    -webkit-overflow-scrolling: touch;
}


#main{
    font-size: 30px;
}

.circlePink{
    width:100%;
    border-radius:50px;
    font-size:20px;
    color:black;
    line-height:50px;
    text-align:center;
    background: #ffd6d6;
}
.circleBlue{
    width:100%;
   
    border-radius:50px;
    font-size:20px;
    color:black;
    line-height:50px;
    text-align:center;
    background: #d1ebea;
}

.circlePurple{
    width:100%;
   
    border-radius:50px;
    font-size:20px;
    color:black;
    line-height:50px;
    text-align:center;
    background: #d7c7e9;
}

.circleYellow{
    width:100%;
   
    border-radius:50px;
    font-size:20px;
    color:black;
    line-height:50px;
    text-align:center;
    background: #ffe0bd;
}
.circleWhite{
    width: 500px;
    height: 180px;
    
}


.button{
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    border-radius:50px;
    font-size:15px;
    color:black;
    line-height:50px;
    text-align:center;
    background: #d7c7e9;

}


* {box-sizing:border-box}
.container{
    width: 100%; /* full width */
    

}

.skills{
   
    border-radius:20px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color:black;
    background-color:#d1ebea;
}
.python{width: 90%}
.C{width: 80% }
.cp{width: 90% }
.css{width: 50% }
.spanish{width:99%}

/* Nav */
#nav{
    background-color: #EAE3E3;
    color: black;
    width: 100%;
    padding: 1em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}

.nav li{
    display: inline-block;
}

