/* index page */
body{
    background-color: #eff7f6;
    /* border: 2px solid red; */
    margin:0%;
}

footer{
    height:0;
    text-align: center;
}

/* nav bar */
.nav-link{
    /* font-family: 'Press Start 2P', cursive; */
    color: black;
}

.nav-link:hover{
    color: rebeccapurple;
    align-items: right;
    text-decoration: underline;
}

#nv{
    position: fixed;
    width: 100%;
}

/* https://bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.left{
    /* position: absolute; */
    right:0;
    align-items: right;
}

#home_text{
    height: 100vh; 
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    margin: 0;
}

.about_div{
    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}


/* removes list decoration */
.about_list{
    list-style: none;
}


#game{
    height:40vw;
    width: auto;
    /* border: 5px solid red; */
    text-align: center;
}


/* ---------------------------------------------------- */

/* projects page */
#technical{
    text-align: center;
}
#design{
    text-align: center;
}


#mtcs{
    margin-top: 20%;
    text-align: center;
}


#me_art{
    margin-top: 10vh;
    display:flex;
    justify-content: center;

}