/* index page */
body{
    background-color: #eff7f6;
    /* background-color: red; */
}

/* nav bar */
.nav-link{
    /* font-family: 'Press Start 2P', cursive; */
    color: rebeccapurple;
}

.nav-link:hover{
    color: red;
}

#intro{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#game{
    height:40vw;
    width: auto;
    /* border: 5px solid red; */
    text-align: center;
}

#about{
    margin-top: 10%;
    height:20vw;
    width: auto;
    text-align: center;
}

/* https://bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

/* projects page */
#technical{
    text-align: center;
}
#design{
    text-align: center;
}
#con{
    text-align: center;
}